@model IEnumerable<CoachIT.Domain.Entities.Catégorie>

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategorieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomCategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreationC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomCategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreationC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
